

/* @media screen and (max-width:768px){

    #cssportal-grid {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        width: 100%;
        height: 100%;
    }
    #div1 {
        grid-area: 2 / 1 / 3 / 4;
        background-color: rgba(218,166,148, 0.5);
        height: 15rem;
    }
    #div2 {
        grid-area: 1 / 1 / 2 / 4;
        background-color: rgba(155,238,242, 0.5);
        height: 15rem;
    }
    #div3 {
        grid-area: 3 / 1 / 4 / 4;
        background-color: rgba(189,105,61, 0.5);
        height: 15rem;
    }
    #div4 {
        grid-area: 4 / 1 / 5 / 4;
        background-color: rgba(230,77,202, 0.5);
        height: 15rem;
    }
} */

@media screen and (max-width: 768px) {
    #cssportal-grid {
        display: grid;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 1fr;
        gap: 1em;
        width: 100%;
        height: 100%;
    }

    #div1 {
        grid-area: 2 / 1 / 3 / 2;
        background-color: rgba(218, 166, 148, 0.5);
        height: 15rem;
    }

    #div2 {
        grid-area: 1 / 1 / 2 / 2;
        background-color: rgba(155, 238, 242, 0.5);
        height: 15rem;
    }

    #div3 {
        grid-area: 3 / 1 / 4 / 2;
        background-color: rgba(189, 105, 61, 0.5);
        height: 15rem;
    }

    #div4 {
        grid-area: 4 / 1 / 5 / 2;
        background-color: rgba(230, 77, 202, 0.5);
        height: 15rem;
    }
}
