@font-face {
	font-family: 'proxima_nova_rgregular';
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-regular-webfont.svg#proxima_nova_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'proxima_nova_rgbold';
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/proximanova-bold-webfont.svg#proxima_nova_rgbold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'adelle_rgregular';
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot');
	src: url('https://litmus.com/fonts/Emails/adelle_reg-webfont.eot?#iefix') format('embedded-opentype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.woff') format('woff'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.ttf') format('truetype'),
		 url('https://litmus.com/fonts/Emails/adelle_reg-webfont.svg#adelle_rgregular') format('svg');
	font-weight: normal;
	font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'proxima_nova_rgregular', Arial, sans-serif;
    text-decoration: none;
    list-style: none;
}

:root{
    --body-color:#FCFCFC;
    --sidebar-color:#FCFCFC;
    --primary-color:#3CADFF;
    --toggle-color:#DDD;
    --toggle-div-color:#e9e4e4;
    --text-color:#1B1B1B;
    --border-color:#E0E0E0;
    --hover-color:#fff;

}
body{
    width: 100%;
    min-height: 100vh;
    background-color:var(--body-color);
    transition: all 0.9s ease;
    overflow-x: hidden;
    font-family: 'proxima_nova_rgregular', Arial, sans-serif;
}
body.dark{
    --body-color:#18191A;
    --sidebar-color:#242526;
    --primary-color:#3A3B3C;
    --toggle-color:#FFF;
    --toggle-div-color:#3A3B3C;
    --text-color:#CCC;
    --border-color:#3A3B3C ;
    font-family: 'proxima_nova_rgregular', Arial, sans-serif;
}

/* ******* sidebar ****** */

.sidebar{
    width: 15rem;
    min-height: 850px;
    background-color:var(--sidebar-color);
    transition: var(--trans-03);
    z-index: 100;
    padding: 10px 5px;
    border-right: 1px solid var(--border-color);
    transition: width, all 0.9s ease;
    position:sticky;
    left: 0;
    bottom: 0;
    top: 0;
}

.sidebar header{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.sidebar header > div{
   padding: 5px 10px;
   width: 100%;
}
.sidebar header .logo{
    display: flex;
    align-items: center;
    gap:20px;
    border-bottom: 1px solid var(--border-color);
    margin-bottom: 1rem;
    color: var(--text-color);
}
.sidebar header .toggle{
    position: absolute;
    top: 40px;
    right: -15px;
    cursor: pointer;
    transform: translateY(-50%);
    height: 25px;
    width: 25px;
    background-color:var(--primary-color);
    color:var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    text-align: center;
    padding: 5px;
    z-index: 101;
}
 .sidebar header a{
    display: block;
    color: var(--text-color);
    padding: 5px;
    border-radius: 5px;
    font-size: .9rem;
    margin-block-end: .5rem;
    display: flex;
    align-items: center;
    height: 40px;
    width: 100%;
    font-family: 'proxima_nova_rgregular', Arial, sans-serif;
    transition: all 0.5s ease;
}
.sidebar header a:hover{
    background-color: var(--primary-color);
    color:var(--hover-color);
}
.sidebar header a:hover i{
    color: var(--hover-color);
}
.sidebar header > div > p{
    padding:0px 5px;
    margin-block: .5rem;
    font-size: .6rem;
    color: var(--text-color);
}
.sidebar header a:focus{
    background-color: var(--primary-color);
    color: var(--body-color);
}
.sidebar header .toggle{
    position: absolute;
    top: 16px;
    right: -15px;
    cursor: pointer;
    transform: translateY(-50%);
    transform: rotate(180deg);
    height: 25px;
    width: 25px;
    background-color:var(--primary-color);
    color:var(--body-color);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius:50%;
    text-align: center;
    padding: 5px;
    font-size: 1.1rem;
    font-weight: 500;
}
.sidebar header i{
    font-size: 1rem;
    padding-inline:0px 5px;
    width: 30px;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    cursor: pointer;
    color: var(--text-color);
    transition: all 0.5s ease;
}
.sidebar header .input-field {
    height: 40px;
    display: flex;
    align-items: center;
    border-radius: 5px;
    border: 1px solid var(--primary-color);
    background-color: var(--toggle-div-color);
 
}

.sidebar header .input-field:focus{
    box-shadow:var(--primary-color) 0px 1px 4px;
} 
header .input-field input{
    outline: none;
    border: none;
    height:40px;
    background-color: transparent;
}

.sidebar header .profile{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    gap: 5px;
    margin-block-start: 2rem;
    border-top: 1px solid var(--border-color);
    color: var(--text-color);
}
header .profile .profile-details{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-items:flex-start;
    justify-content:center;
    text-align: left;
    margin: auto 0;
}
header .profile a{
    padding: 5px;
    height: 20px;
}
header .profile  h5{
    padding: 5px;
    height: 20px;
}
/* ****** this div contain settings to profile **** */
header .bottom-side-bar{
    margin-block-start: 2rem;
}

/* ********* Style for the dark mood propties ***** */
header .mood{
    display: flex;
    align-items: center;
    height:40px;
    width: 100%;
    padding: 0px 5px;
    color: var(--text-color);
    border-radius: 5px;
    position: relative;
    background-color: var(--toggle-div-color);
}
header .moon-sun{
    position: relative;
    width: 30px;
    height: 40px;
}
header .mood i{
    position: absolute;
    left: 2px;
}
header .mood i.sun{
    opacity: 0;
}
header .mood .toggle-switch{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    position: absolute;
    left:70px;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    background:var(--toggle-color);
    border-radius: 24px;
    transition: all 0.5s ease;
}
.switch::before{
    content: '';
    position: absolute;
    height: 1rem;
    width: 1rem;
    border-radius: 50%;
    cursor:pointer;
    top:50%;
    left:5px;
    transform:translateY(-50%);
    background-color:var(--sidebar-color);
    transition: all 0.9s ease;
}

/* **** Styles when body is dark ***** */
body.dark .switch::before{
    left: 25px;
}
body.dark  header .toggle{
    color: var(--text-color);
}
body.dark header .mood i.sun{
    opacity: 1;
    transition: all 0.9s ease;
}
body.dark header .mood i.moon{
    opacity: 0;
    transition: all 0.9s ease;
}

/* ****Style the open and close side-bar**** */
.sidebar .to-close{
    white-space: nowrap;
    font-weight: 500;
}
.sidebar.close{
    width:88px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.sidebar.close .to-close{
    display: none;
}
.sidebar.close .toggle-switch{
   left:0 ;
}
.sidebar.close header i{
    margin: auto;
}

.sidebar.close header .toggle{
    transform: rotate(0deg);
}

/** ********* Home page start ******* */

.home{
    min-height:150vh;
    width:92%;
    background-color:var(--body-color);
    color: var(--text-color);
    margin-left:6.5rem;
    margin-top: -891px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding:1rem;
    overflow-x: hidden;
}
.home-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;

}
/** ********* top bar ******* */
.home .search-bar{
    width: 100%;
    height:4.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: .3rem .5rem;
    gap: 2rem;
    border-bottom: 1px solid var(--border-color);
    margin-block-end: 2rem;
}
/* **** search-bar contain the input and date **** */
.search-bar .search{
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.search-bar .input{
    width: 100%;
    height: 2rem;
    background-color:var(--body-color);
    border: 1px solid #E0E0E0;
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin-block-end: 5px;
}
.search-bar .input input{
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background-color: transparent;
}
.search-bar i{
    padding: 0px 5px;
    color: var(--text-color);
    cursor: pointer;
}
.search-bar span{
    color: var(--text-color);
    padding: 5px;
}

.search-bar .search button{
    padding:5px;
    outline: none;
    border: none;
    background-color: var(--body-color);
    color: var(--text-color);
    border-radius: 10px;
    border: 1px solid var(--body-color);
    cursor: pointer;
    font-size: .7rem;
}
.search button:hover{
    border: 1px solid var(--border-color);
}

.search-bar .filters{
    display: flex;
    margin: 0px 22px;
}
/****** the calender at the top right corner ***** */

.search-bar .calender{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    gap:1rem;
    padding: 10px;
}
 .date input[type="date"]{
    outline: none;
    border:1px solid var(--border-color);
    height: 1.5rem;
    width: 7rem;
    padding: 3px;
    border-radius: 5px;
    background-color: var(--body-color);
    color: var(--text-color);
    cursor: pointer;
}

/* *******8 END OF SEARCH TOP BAR ********* */
.team-title{
    width: 100%;
    height: 50px;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-block: 1rem;
    color: var(--text-color);

}

.team-container{
    width: 100%;
    min-height:100vh;
    background-color:var(--body-color); 
    padding: 15px 15px 15px 0px;
    color: var(--text-color);

}
.team-container .header{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin: 12px;
}
.team-container .header a{
    padding: 16px 16px 16px 0px;
    color: var(--text-color);
    text-underline-offset: 8px;
    font-weight: bold;
    transition: all 0.5s ease;
    text-decoration-color:#3CADFF;

}
.team-container .header a:focus{
    text-decoration: underline;
    text-decoration-color:#3CADFF;
    text-decoration-thickness: 2px;
    transition: all 0.3s ease;
}
/* .team-container .header a.active-header{
    text-decoration: underline;
    text-decoration-thickness: 3px;
    text-decoration-color: var(--primary-color);

} */
 .team-container .team-member-content{
    display: flex;
    gap:1rem;
    margin-block: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 16px;
    flex-wrap: wrap;
    transition: all 0.5s ease;
 }
 .team-container .team-member-content> div{
    width: 49%;
    padding: 2rem;
    flex:  1 1 20rem;
    line-height: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center;
 }
 .team-container .team-member-content ol li{
    list-style:decimal;
 }
 .team-member-container .mission{
    width: 100%;
    padding: 10px;
    margin-bottom: 1rem;
 }
 /* ***** team table **** */
 
 .team-member-table{
    overflow: auto;
    color: var(--text-color);
 }
 .team-member-table ::-webkit-scrollbar{
    display: none;
 }

 table{
    min-width:72.5rem;
    text-align: left;
    border-collapse:collapse;
    padding: 15px;
    overflow:auto;
 }
 table img{
    max-width: 100%;
    width: 32px;
    height: 32px;
 }
 
table .name{
    display: flex;
    align-items: center;
    margin-top:5%;
    gap: 10px;
 }
 table .table-heading{
    background-color: var(--toggle-div-color);
    padding: .5rem;
    border-radius:50px;
 }
 table td, th{
    align-items: center;
    padding:.5rem;
    color: var(--text-color);
 }
 table .status{
    width: 7rem;
    text-align: center;
 }
 table .stat{
    display: flex;
    align-items: center;
    justify-content: center;
 }

 table #active{
    width: 65px;
    /* padding: 5px 10px; */
    border-radius: 16px;
    background: #ECFDF3;
    color: #027A48;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    position: relative;
 }
 #active::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #12B76A;
 }
 table #inactive{
    width: 65px;
    padding: 2px 0px 2px 6px;
    border-radius: 16px;
    background:#FFEBE9;
    color: #DA3D2A;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 6px;
    position: relative;
 }
 #inactive::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 10%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #DA3D2A;
 }
 table #design{
    width: 65px;
    padding: 2px  6px;
    border-radius: 16px;
    background: #FFF7F0;
    color:#F2994A;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 table #product{
    width: 65px;
    padding: 2px  6px;
    border-radius: 16px;
    background: #F0FFF6;
    color:#2ECC71;
    display: flex;
    align-items: center;
    justify-content: center;
 }

/* ******* end of team member  ********* */

.project-overview-container{
    display: none;
 }
 /* ******* team overview  ********* */
 .project-overview-content{
    width: 100%;
    height: 100%;
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    gap:2rem;
    margin-block: 1rem;
    background-color: var(--body-color);
    color: var(--text-color);
 }
 .project-overview-content .task_week, .project-month{
    min-height: 40vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 10px 10px 10px 0px;
    color: var(--text-color);
 }
 .project-overview-content .project-month{
    min-height:60vh;
 }
 .project-overview-container span{
    padding: 0px 6px;
    font-size: 1rem;
 }
 .project-overview-container .task{
    width: 100%;
    min-height: 50px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 5px;
    color: var(--text-color);
 }
 .project-overview-title{
    height: 25px;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    width: 10rem;
    font-size:1rem;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
 }
 #team-project, #project-overview{
    transition: all 0.5s ease;
 }
 #team{
    text-decoration: underline;
    text-decoration-color:#3CADFF;
    text-decoration-thickness: 2px;
    transition: all 0.3s ease;
 }
 /* ******* end of team overview  ********* */
 



